.card{
    background-color: aquamarine;
    width: 300px;
    margin: 10px;
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    border:2px solid black;
    border-radius: 10px;
}
.card img{
    width:200px;
}